
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

  body{
    background-color: black;
  }
  .margen{
    margin-bottom: 50%;
  }
  h1 {
    color: white;
      text-align: center;
        font-family:"raleway";
  
  }
  h2{
    color: white;
    text-align: center;
    font-family:"raleway" ;
  }
  h3{
    color: white;
    text-align: center;
    font-family:"raleway"
  }
  p {
   font-family: "raleway";
     color: white;
       text-align: left;
  }
 
 
.contenedor{
  background-color: black;
  display: flex;
  justify-content: center;
}
.final{
  justify-content: center;
}

.tyf{
 margin-top: 100px;
 display: flex;
 padding: 25px;
 background-color: black;
}
.caracteristicas{
  background-color: rgb(36, 21, 7);
  margin-top: 100px;
  justify-content: center;
  padding: 20px;
}

i{
  color: white;
  justify-content: center;
}